.BigButtonContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    height: 200px;
    width:100%;
}

.BigButton{
    background: #c7ffd8;
    color:#161d6f;
    font-size: 1.75vw;
    min-width:14vw;
    min-height: 14vw;
}


.BigButton:hover{
    color: #b45508;
}

.MainBodyContainer{
    color: #161d6f;
    padding: 20px;
    min-height: 100vh;
    height: max-content;
    padding-bottom: 50px;
    background: #f3f3f3;
}

.MainApp{
    min-height:100vh;
    height: max-content;
}

label{
    color:#161d6f;
}

button{
    color: #161d6f;
    background-color: #c7ffd8;
}
button:hover{
    color: #b45508;
}

a{
    text-decoration: none;
    margin: 0 0;
}


.listElement{
    background: #c7ffd8;
    color:#161d6f;
    min-height: 10vh;
    margin-top: 1vw;
    margin-bottom: 1vw;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

}

.listCard{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 90vw;
    padding: 20px;
    align-content: center;
}

.listElement:hover{
    color: #b45508;
}

.listText{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.listOfCards{
    padding-left: 0px;
    width:100%;
}

table, th, td {
    border: 1px solid black;
}
table{
    margin-top: 10px;
}

.wideFromInput{
    width:100%;
    margin-bottom: 5vh;
}

.editForm{
    border: #c7ffd8 ;
    width:50vw;
}

.MainFormContainer{
    color: #161d6f;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    padding: 20px;
    min-height: 100vh;
    height: max-content;
    padding-bottom: 50px;
    background: #f3f3f3;
}

.AllMyButtons{
    display: flex;
    flex-wrap: wrap;
}
